<Configuration>
    <Properties>
        <Property name = "log_dir">out/${date.yyyy_MM_dd_HH_mm_ss}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile" fileName="${log_dir}/server.log"
                     filePattern="${log_dir}/server_%d{yyyy-MM-dd}.log">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <Async name="AsyncFile">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="AsyncFile"/>
        </Root>
    </Loggers>
</Configuration>
